.can {
    width: 100px;
    height: 100px;
    background-color: red;

    /* animation */
    /* animation-name: change-to-circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: none; */

    /* shorthand */
    animation: change-to-circle 4s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: none;
}

@keyframes change-to-circle {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(160deg);
    }
}
